/* signup page */
#registration {
    /* background-image: url(images/login\ bg.jpg); */
    background-color: #088178;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
  }

  #registration .signup {
    width: 350px;
    height: 550px;
    background-color: #fff;
    border-radius: 15px;
    transform: translate(165%, 15%);
    
  }

  #registration .signup h1 {
    text-align: center;
    padding: 15px;
  }
  #registration .signup h4 {
    text-align: center;
    padding-top: 15px;
  }

  #registration form {
    width: 300px;
    margin-left: 20px;
  }

  #registration form label {
    display: flex;
    margin-top: 20px;
    font-size: 14px;
  }

  #registration form input {
    width: 100%;

  }

  #registration input[type="submit"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #ff7200;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }

  #registration input[type="submit"]:hover {
    color: #fff;
    background: rgb(13, 211, 247);
  }

#registration .signup p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

#registration .signin{
    width: 350px;
    height: 320px;
    background-color: #fff;
    border-radius: 15px;
    transform: translate(165%, 60%);
    text-align: center;
}

#registration .signin p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

#registration .signin h1 {
    padding: 15px;
}